<div class="crop">
  <img width=100% src="https://firebasestorage.googleapis.com/v0/b/mylloy-ac68d.appspot.com/o/banniere1-min.jpg?alt=media&token=ce2e2803-2a61-4f4e-abd2-70b18e59dd26">
</div>
<div class="row grey lighten-3" style="margin-bottom: 0px !important; background-color: #eeeeee !important;">
  <div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="col l12 m12 s12">
      <div class="row">
        <h5 style="font-family:LemonMilk;"> Contact us </h5>
        <div class="input-field col s6">
          <input type="text" name="Name" ngModel class="validate" required>
          <label>Your Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input data-error="Invalid email address" type="email" name="Email" ngModel class="validate" required>
          <label>Your Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="Subject" ngModel class="validate" required>
          <label>Subject</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="Message" ngModel class="validate materialize-textarea" required></textarea>
          <label>Your Message</label>
        </div>
      </div>

      <button style="font-family:LemonMilk;margin-bottom:5px;" class="btn waves-effect waves-light  grey darken-3" name="action">Send
      </button>
    </form>
  </div>
</div>
