
.details {
    font-family: LemonMilk;
    display: flex;
    justify-content: center;
    opacity: 0.85;
}

.player-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: -30px;
}

.title-container {
  white-space: nowrap;
  height: 95px;
}

.title {
  background-color: rgba(200, 200, 200, 0.09);
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 35px;
}
