<div class="parallax-container" style="height: 700px">
  <div materialize="parallax" class="parallax">
    <img src="../../assets/images/thehood.jpg">
  </div>
  <h1 style="display:flex; justify-content:center; font-family:TrueLies"> My lloy </h1>
  <div class="row">
    <div class="col s2 m3 l4"></div>
    <div class="col s8 m6 l4">
      <div class="card-image" style="height:70%">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/275501715&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="row grey lighten-3" style="margin-bottom: 0px !important">
  <div class="col s1 m1 l1"></div>
  <div class="col s4 m4 l4">
    <h6 style="display: flex;
      justify-content: center; margin: 25px !important; font-weight: 500;
      font-size: 18px;">Upcoming shows</h6>
    <div class="card">
      <div class="card-image">
        <img src="../../assets/images/thehood.jpg">
      </div>
      <div class="card-content">
        <ul>
          <li class="collection-item" style="font-weight: 100;">The Hood Paris April 21th</li>
          <li class="collection-item" style="font-weight: 100;">Point Ephemere Paris June 14th</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s1 m1 l1"></div>
  <div class="col s5 m5 l5">
    <h6 style="display: flex;
      justify-content: center; margin: 25px !important; font-weight: 500;
      font-size: 18px;">Videos</h6>
    <div style="position:relative;height:400px;padding-bottom:56.25%">
      <iframe src="https://www.youtube.com/embed/Io-xK9kDG7E?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row grey lighten-2" style="margin-bottom: 0px !important;">
  <div class="col s1 m1 l1"></div>
  <div class="col s3 m3 l3">
    <img style="margin-top:5px;" width=100% src="../../assets/images/CR1.jpg">
  </div>
  <div class="col s8 m8 l8" style="height: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;">
    " We are two big dreamers fueled by their passion for music. We want to make songs with honesty and simplicity. "
  </div>
</div>