<div>
  <nav>
    <div class="navbar-fixed grey darken-3">
      <a href="#!" class="brand-logo">
       <i class="mdi mdi-music-note"></i> 
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://www.facebook.com/mylloy/"><i class="mdi mdi-facebook"></i></a></li>
        <li><a href="" [routerLink]="['/contact']"><i class="mdi mdi-soundcloud"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UClW3-gE-I87OUHIGNwAS1hw"><i class="mdi mdi-youtube-play"></i></a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li><a href="#!">three</a></li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
      Copyright 2017 My lloy | All Rights Reserved
    </div>
  </div>
</footer>