<header>
  <nav>
    <div class="navbar-fixed grey darken-3">
      <a href="#!" class="brand-logo">
       <i class="mdi mdi-music-note"></i> 
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!">About</a></li>
        <li><a href="#!" [routerLink]="['/contact']">Contact</a></li>
        <li><a href="https://www.facebook.com/mylloy/"><i class="mdi mdi-facebook"></i></a></li>
        <li><a href="#!"><i class="mdi mdi-soundcloud"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UClW3-gE-I87OUHIGNwAS1hw"><i class="mdi mdi-youtube-play"></i></a></li>
      </ul>    
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    Copyright 2017 My lloy | All Rights Reserved
  </div>
</footer>