
.player .player__main button:hover, .player {
  color: darkblue;
}

.player .player__main button {
  background: transparent;
  border:none;
  font-size: 30px;
  outline: none;
  color: darkslateblue;
}
