.player {
  text-align: center;
}

.player div {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.player .player__backward button, .player .player__forward button {
  background: transparent;
  border: 1px solid rgb(20, 82, 125);
  color: rgb(20, 82, 125);
  width: 75px;
  height: 75px;
  border-radius: 100%;
  font-size: 35px;
  outline: none;
}

.player .player__main button:hover, .player .player__backward button:hover, .player .player__forward button:hover {
  color: rgba(24,107,160,0.7);
}

.player .player__main {
  border: 1px solid rgb(20, 82, 125);
}

.player .player__main button {
  color: rgb(20, 82, 125);
  background: transparent;
  width: 75px;
  height: 75px;
  border: none;
  font-size: 35px;
  outline: none;
}
